<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>BLG | <%= title %></title>
	<link rel="stylesheet" href="/style.css" />
	<!-- the path should be absoulte as it will send the file with the url request -->
</head>
