<nav>
	<div class="site-title">
		<a href="/"><h1>BLG</h1></a>
	</div>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/createBlog">Create</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</nav>
