<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BLG | <%= title %></title>
	</head>
	<body>
		<%- include("./shared/nav") %>

		<div class="not-found content">OOPS, page not found :)</div>

		<%- include("./shared/footer") %>
	</body>
</html>
